.328_12 { 
	overflow:hidden;
}.e328_12 { 
	background-color:rgba(71.00000336766243, 48.000000938773155, 42.000001296401024, 1);
	width:2992px;
	height:2992px;
	position:absolute;
}.e328_13 { 
	background-color:rgba(23.53500422090292, 70.21556586027145, 22.582349739968777, 1);
	width:2992px;
	height:2993px;
	position:absolute;
	left:0px;
	top:0px;
}.e328_14 { 
	background-color:rgba(41.85319237411022, 95.32918587327003, 60.03503814339638, 1);
	width:2100px;
	height:592px;
	position:absolute;
	left:100px;
	top:2300px;
}.328_14 { 
	border:10px solid rgba(255, 255, 255, 1);
}.328_15 { 
	border:10px solid rgba(255, 255, 255, 1);
}.e328_15 { 
	width:2792px;
	height:2100px;
	position:absolute;
	left:100px;
	top:100px;
}.e328_16 { 
	width:2792px;
	height:2792px;
	position:absolute;
	left:0px;
	top:-534px;
	background-image:url(images/rectangle_73.png);
	background-repeat:no-repeat;
	background-size:cover;
}.328_18 { 
	border:13px solid rgba(255, 255, 255, 1);
}.e328_18 { 
	width:1883px;
	height:0px;
	position:absolute;
	left:202px;
	top:2677px;
}.328_19 { 
	border:10px solid rgba(255, 255, 255, 1);
}.e328_19 { 
	width:592px;
	height:592px;
	position:absolute;
	left:2300px;
	top:2300px;
}.e328_20 { 
	width:592px;
	height:592px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_75.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e328_21 { 
	color:rgba(255, 255, 255, 1);
	width:2100px;
	height:377px;
	position:absolute;
	left:100px;
	top:2300px;
	font-family:Adobe Gothic Std;
	text-align:center;
	font-size:250px;
	letter-spacing:0;
	line-height:px;
}.e330_4 { 
	color:rgba(255, 255, 255, 1);
	width:2100px;
	height:215px;
	position:absolute;
	left:100px;
	top:2677px;
	font-family:Adobe Gothic Std;
	text-align:center;
	font-size:100px;
	letter-spacing:0;
	line-height:px;
}